body{
    color: black;
    background-color: cornsilk;
}
h1{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: darkkhaki;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
#title-heading{
text-decoration: underline;
font-weight: bold;
}
h3{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.size{
    font-weight: bolder;
}